@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

/* body */
body{	
	background-image: url("../images/skulls.png");
	font-family: Open Sans Condensed;
	}
/* divs de la page */
 #titre{
	background-color:#2c3e50;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
	border-top: solid 3px;
	border-left: solid 3px;
	border-right:solid 3px;
	border-color: #2980b9;
	border-radius: 5px 5px 0px 0px;
	padding-bottom: 25px;
}
#titre:hover{
	border-color:#3498db;
	background-color: #34495e;
	}
body, body p{
	display: block;
	margin:0px;
	padding:0px;
}
nav {
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
nav ul{
	list-style-type: none;
}
nav li{
	display: inline-block;
	margin-right: auto;
	font-size: 30px;
	padding : 10 px;

}
nav li:hover{
	background-color: rgba(84, 102, 120, 1) ;
	
}
nav li a{
	color: white;
	text-decoration: none;
	padding: 10px;
	
}
nav li a:hover{
	color: orange;
	}
.subnav{
display: none;
position: relative;
}
nav li:hover .subnav {
	display: block;
	position: relative;
}
.subnav li {
	display: inherit;}
	
.nolastmen{
	border-right: solid 2px white;
}
#nav{
	background-color: rgba(64, 82, 100, 1) ;
	margin-left: 10%;
	margin-right: 10%;
	border-top: dashed 3px;
	border-left: solid 3px;
	border-right: solid 3px;
	border-color: #2980b9;
	padding-top: 5px;
	padding-bottom: 5px;

	}
#corps{
	background-color: white ;
	margin-left: 10%;
	margin-right: 10%;
	border-bottom: dashed 3px orange;
	border-top: dashed 3px orange;
	border-left: solid 3px;
	border-right:solid 3px;
	border-color: #2980b9;
	padding-bottom: 5px;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 25px;
}
/*animation*/
@keyframes titrehover
{
	
	50%{
	color:#95a5a6;
	}
	100%{
	color:#7f8c8d;
	}
}
@-webkit-keyframes titrehover{	

	50%{
	color:#95a5a6;
	}
	100%{
	color:#7f8c8d;
	}
}
@-moz-keyframes titrehover{
	50%{
	color:#95a5a6;
	}
	100%{
	color:#7f8c8d;
	}
}
/* titre page */
h1{
	
	text-align: center;
	color: white;
	margin-top: 0px;
	font-size: 50px;
	}
#corps h3{
	
	text-align: center;
	color: black;
	margin-top: 0px;
	font-size: 30px;
	}
#corps section{
		padding-bottom: 20px;
}

#corps a{
	animation: titrehover 5s infinite alternate;
	-webkit-animation: titrehover 5s infinite alternate;
	-moz-animation: titrehover 5s infinite alternate;
}
#corps h3{

		color: orange;
	}
#corps h2{

	color: orange;
	font-size: 5px;
	}
#corps h4{
	color: orange;
	font-size: 25px;
	}
footer{
	background-color:#2c3e50;
	margin-left: 10%;
	margin-right: 10%;
	height: 20px;
	margin-bottom: 5%;
	border-bottom: solid 3px;
	border-left: solid 3px;
	border-right:solid 3px;
	border-color: #2980b9;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 25px;
}
footer p{
	padding-top: 15px;
	color: white;
	text-align: center;
}
.code{
	background-color: black;
	color: white;
	border : solid 2px grey;
	padding: 5px;
	}
